#title {
    font-family: "Segoe UI";
    font-size: 1.5em; 
}

#directions {
    font-family: "Segoe UI";
    font-size: 1em;
}

#button-rhyme-selection {
    background-color: rgb(118, 212, 236);
    border: 0.02em solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Segoe UI";
    font-size: 2em;
}

#button-rhyme-selection:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

#credit {
    font-size:0.5em;
}

#rhyme {
    font-size: 2em;
}